/* BEGIN BASE STYLES */
:root {
  --primaryColor: #6622cc;
  --secondaryColor: #4f1b9d;
  --tertiaryColor: #fbfbff;
  --primaryTextColor: #ffffff;
  --primaryFont: 'Lato';
  --secondaryFont: 'Lato';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-sizing: content-box; */
}

body {
  font-family: 'Lato', sans-serif;
  background-color: white;
  /* line-height: 1.5; */
}

.text-bold {
  font-weight: 700;
}
/* END BASE STYLES */

/* BEGIN HEADER STYLES */
header {
  width: 100%;
  height: 123px;
}

main {
  width: 100%;
}

.container {
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.4);
  background-color: var(--primaryColor);
  transition: 0.3s ease;
}

.top-bar {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  background-color: var(--tertiaryColor);
  height: 33px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.25;
}

.nav-header {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 90px;
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
}

.logo img {
  display: flex;
  align-items: center;
  max-height: 64px;
  max-width: 120px;
  height: auto;
  width: auto;
}

.nav-header nav ul {
  display: flex;
  max-width: 700px;
  margin-left: 47px;
  list-style: none;
}

nav ul li a {
  color: var(--primaryTextColor);
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 16px;
}

nav ul li a:hover {
  opacity: 0.7;
}

.nav-icons {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 324px;
  height: 100%;
  margin-left: auto;
}

.nav-search-form {
  display: flex;
}

/* .nav-search-form .search-button {
  outline: 0;
} */

.nav-search-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  height: 24px;
  padding: 0 !important;
  font-family: var(--primaryFont);
  font-size: 14px;
  visibility: hidden;
  /* transition: 0.3s;
  width: 100%; */
}

.nav-icons .icon-mail, .nav-icons .icon-cart {
  margin-left: 24px;
}

.nav-icons a, .nav-icons form a {
  fill: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* END HEADER STYLES */

/* BEGIN MAIN STYLES */

.main-container {
  display: flex;
  justify-content: left;
  /* min-height: 100%; */
  max-width: 1248px;
  margin: 0 auto;
  padding: 100px;
}
/* END MAIN STYLES */

/* BEGIN FOOTER STYLES */
footer {
  background-color: var(--primaryColor);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* font-family: var(--primaryFont); */
  font-size: 14px;
}

.footer-content {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  max-width: 1264px;
  margin: 0 auto;
  padding: 40px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  width: 100%;
  /* text-align: left; */
}

.footer-section .logo {
  /* display: inline-block; */
  justify-content: flex-start;
}

.footer-section .social-media {
  /* text-align: right; */
  justify-content: flex-end;
}

.footer-section .social-media a {
  margin: 0 0 0 8px;
  text-decoration: none;
}

.footer-section ul {
  list-style: none;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer-section .info {
  width: 100%;
}

.footer-section .categories {
  width: 100%;
}

.footer-section .links {
  width: 100%;
}

.footer-section h4 {
  padding: 0 0 24px 0;
}

.footer-section .contact {
  width: 100%;
  text-align: right;
}

.footer-section li {
  margin: 0 0 12px;
}

.footer-section .contact svg {
  margin-right: 8px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  max-width: 1264px;
  margin: 0 auto;
  padding: 40px;
}

.footer-bottom, .footer-section .contact {
  font-size: 14px;
}

.footer-bottom .info-separator {
  padding: 0 8px;
}

.footer-bottom .mercado-shops {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.footer-bottom .mercado-shops a {
  fill: white;
}

.footer-bottom .mercado-shops span {
  padding-right: 6px;
}
/* END FOOTER STYLES */